version 8.0.3

source https://www.nuget.org/api/v2
storage: none
framework: auto-detect
generate_load_scripts: true

nuget FSharp.Core

nuget Fake.Core.Target
nuget Fake.Core.Process
nuget Fake.Core.String
nuget Fake.Core.ReleaseNotes
nuget Fake.DotNet.Cli
nuget Fake.DotNet.NuGet
nuget Fake.IO.FileSystem
nuget Fake.IO.Zip
nuget Fake.Net.Http
nuget Fake.Tools.Git
nuget Fake.JavaScript.Yarn
